@mixin xs {
  @media (max-width: 480px) {
    @content;
  }
}

.main-content {
  height: 100%;
  width: 100vw;
  padding: 40px 0px;
  border-bottom: 2px solid var(--space-cadet);
  margin-bottom: 20px;
  margin-top: 80px;

  @include xs {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    color: var(--lavender-blush);
    margin-bottom: 1rem;

    @include xs {
      margin-bottom: 6rem;
    }
    i {
      cursor: pointer;
      font-size: 25px;
      color: var(--lavender-blush);
    }

    i:hover {
      color: var(--carnation-pink);
    }
  }

  .cards-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 769px) and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1201px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--lavender-blush);
      width: 350px;
      margin-top: 50px;
      gap: 50px;

      @include xs {
        border-bottom: 1px solid var(--purple-mountain-majesty);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;
        margin-top: 0;
      }

      .category-name {
        color: var(--lavender-blush);
        max-width: 350px;
        text-align: center;

        @include xs {
          height: 10px;
        }
      }

      .category-level-progression {
        color: var(--lavender-blush);
        text-align: center;
        font-weight: bold;
        font-size: 13px;
      }

      .niveau-card {
        margin: 0;
        padding: 0;
        color: var(--lavender-blush);
      }
    }
  }
}

.card-container:last-child {
  @include xs {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}
