@import "../../scss/media-queries";

.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  margin: 0;
  padding: 0;
  @include xs {
    font-size: 13px;
  }

  .asteria-login-logo {
    width: 300px;
    height: auto;
    object-fit: cover;

    @include xs {
      width: 200px;
    }
  }

  .login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .login-title {
    color: var(--lavender-blush);
    text-align: center;
    .asteria-name {
      color: var(--carnation-pink);
    }
  }
  .loginform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.--sign {
      margin-bottom: 70px;
    }

    #login {
      width: 280px;

      form {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        box-sizing: border-box;
        display: block;

        span {
          background-color: #363b41;
          border-radius: 3px 0 0 3px;
          color: var(--lavender-blush);
          display: block;
          float: left;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 50px;

          .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }

        input[type="email"] {
          background-color: #3b4148;
          border-radius: 0 3px 3px 0;
          color: var(--lavender-blush);
          margin-bottom: 1em;
          padding: 0 16px;
          width: 230px;
          height: 50px;
          line-height: 1.5em;
          border: none;
          font-size: 14px;
          padding: 20px;
          outline: none;
        }
        ::-webkit-input-placeholder {
          color: var(--lavender-blush);
          opacity: 0.6;
        }
        input[type="password"] {
          background-color: #3b4148;
          border-radius: 0 3px 3px 0;
          color: var(--lavender-blush);
          margin-bottom: 1em;
          padding: 0 16px;
          width: 230px;
          height: 50px;
          line-height: 1.5em;
          border: none;
          font-size: 14px;
          padding: 20px;
          outline: none;
        }
        input[type="submit"] {
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          background-color: var(--purple-mountain-majesty);
          color: var(--lavender-blush);
          font-weight: 700;
          margin-bottom: 10px;
          text-transform: uppercase;
          width: 280px;
          height: 50px;
          line-height: 1.5em;
          border: none;
          font-size: 14px;
          padding: 0;
          cursor: pointer;

          &:hover {
            background-color: var(--space-cadet);
          }
        }
      }
    }
    .notmember-container {
      p {
        width: 300px;
        height: 21px;
        text-align: center;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        font-size: 13px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);

        a {
          width: 83px;
          height: 16px;
          font-size: 13px;
          font-weight: 300;
          color: var(--lavender-blush);
          padding-right: 5px;
          text-decoration: none;
          margin: 0;
          margin-left: 4px;
          margin-right: 4px;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          opacity: 1;

          &:hover {
            color: var(--carnation-pink);
          }
        }

        .fa-solid {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          text-align: center;
        }
      }
    }
  }
  .invited-mode-link {
    margin-top: 20px;
    color: var(--lavender-blush);
    font-size: 13px;
    width: 100% !important;
    text-align: center;
    opacity: 0.6;

    &:hover {
      opacity: 1;
      color: var(--carnation-pink);
    }
  }
}
