@import "../../../scss/media-queries";

.question-number {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lavender-blush);
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 14px;
  font-weight: 300;
}

.question-picture {
  width: 100%;
  height: auto;
  max-height: 270px;
  object-fit: cover;
}

.question-questionvalue {
  text-align: center;
  color: var(--lavender-blush);
  width: 80%;
}

.button-anwser-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(60px, 200px));
  gap: 40px;
  padding: 8px;

  .button-quizz {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: var(--oxford-blue);
    color: var(--lavender-blush);
    cursor: pointer;
  }

  .button-quizz:hover {
    box-shadow: rgb(255, 255, 255, 0.5) 0px 0px 10px;
  }
}

.correct {
  background-color: green !important;
  /* autres styles pour les boutons corrects */
}

.incorrect {
  background-color: red !important;
  /* autres styles pour les boutons incorrects */
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--space-cadet);
  box-shadow: 0px 0px 5px var(--lavender-blush);
  border-radius: 20px;
  padding: 20px 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  animation: question_appear 2500ms linear both;
}

@keyframes question_appear {
  0% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      600,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 600, 0, 0, 1);
  }

  4.2% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      270.436,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 270.436, 0, 0, 1);
  }
  8.31% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      69.536,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 69.536, 0, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -19.292,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.292, 0, 0, 1);
  }
  16.62% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -37.983,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -37.983, 0, 0, 1);
  }
  27.73% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -7.709,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -7.709, 0, 0, 1);
  }
  38.84% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      1.521,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1.521, 0, 0, 1);
  }
  61.06% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.061,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.061, 0, 0, 1);
  }
  83.28% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.002,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@include md {
  .button-anwser-container {
    gap: 20px;
    font-size: 14px;
  }
}
