.quizzcontroller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  .fa-circle-chevron-left {
    color: var(--lavender-blush);
    position: relative;
    bottom: 330px;
    left: 800px;
    font-size: 40px;
    cursor: pointer;
  }

  .fa-circle-chevron-left:hover {
    color: var(--carnation-pink);
  }

  .backToHomeModal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;

    .backtohome-title {
      color: var(--lavender-blush);
      margin-bottom: 30px;
    }

    input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: var(--purple-mountain-majesty);
      color: var(--lavender-blush);
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      width: 200px;
      height: 50px;
      line-height: 1.5em;
      border: none;
      font-size: 14px;
      padding: 0;
      cursor: pointer;

      &:hover {
        background-color: var(--space-cadet);
      }
    }
  }

  .question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    width: 500px;
    background-color: var(--space-cadet);
    box-shadow: 0px 0px 5px var(--lavender-blush);
    border-radius: 20px;
    padding: 20px;
  }
  .question-answer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    width: 500px;
    background-color: var(--orchid-crayola);
    box-shadow: 0px 0px 5px var(--lavender-blush);
    border-radius: 20px;
    padding: 20px;
  }
}
