@import "../../scss/media-queries";

.quizzcontroller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );

  .back-icon-container {
    gap: 30px;
    align-self: flex-start;
  }

  .fa-circle-chevron-left {
    color: var(--lavender-blush);
    font-size: 40px;
    cursor: pointer;
  }

  .fa-circle-chevron-left:hover {
    color: var(--carnation-pink);
  }

  .question-stepper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .step-finished {
    background-color: var(--carnation-pink);
    transition: all 1.5s ease;
  }

  .backToHomeModal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;

    .backtohome-title {
      color: var(--lavender-blush);
      margin-bottom: 30px;
    }

    input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: var(--purple-mountain-majesty);
      color: var(--lavender-blush);
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      width: 200px;
      height: 50px;
      line-height: 1.5em;
      border: none;
      font-size: 14px;
      padding: 0;
      cursor: pointer;

      &:hover {
        background-color: var(--space-cadet);
      }
    }
  }
}

// ROTATE CARD
.main-zoubli {
  position: relative;
  height: 700px;
  width: 40vw;
}

.zoubli {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.rotate-card {
  transform: rotateY(180deg);
}

@include xl {
  .main-zoubli {
    width: 500px;
  }
}

@include md {
  .main-zoubli {
    width: 60vw;
  }
}

@include sm {
  .quizzcontroller {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .main-zoubli {
    width: 95vw;
  }
}
