@import "../../scss/media-queries";

.verify-email-container {
  margin-top: 110px;
  width: 100vw;
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 18rem;
  padding-right: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  border-bottom: 2px solid var(--space-cadet);
}

.verify-email-title {
  color: var(--lavender-blush);
}

.verify-email-error {
  color: red;
}
.verify-email-success {
  color: var(--carnation-pink);
}
