@import "../../scss/media-queries";

.verify-email-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 2px solid var(--space-cadet);
}

.verify-email-title {
  color: var(--lavender-blush);
}

.verify-email {
  &.--error {
    color: red;
  }
  &.--success {
    color: var(--carnation-pink);
  }
}

i {
  &.--error {
    font-size: 80px !important  ;
    color: red;
  }
  &.--sucess {
    font-size: 80px !important;
    color: var(--carnation-pink);
  }
}
