.question-response {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lavender-blush);
  font-size: 25px;
  letter-spacing: 5px;
  margin-bottom: 14px;
  font-weight: 300;
  margin-top: 10px;
}

h4 {
  font-size: 25px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--lavender-blush);
}

img {
  width: 500px;
  height: 260px;
  object-fit: cover;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  width: 80%;
  color: var(--lavender-blush);
  font-weight: 500;
}

.button-next-question {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--oxford-blue);
  color: var(--lavender-blush);
  cursor: pointer;
}

.button-next-question:hover {
  box-shadow: rgb(255, 255, 255, 0.8) 0px 0px 20px;
}
