article {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 274px;
  height: 472px;
  border-radius: 20px;
  border: 2px solid var(--lavender-blush);

  &:hover {
    border: 2px solid var(--orchid-crayola);

    .depliage {
      border-top: 1px solid var(--orchid-crayola);
    }
  }

  img {
    position: relative;
    z-index: -1;
    width: 272px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }

  .depliage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: var(--cyber-grape);
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    // width: 273px;
    height: 60px;
    border-top: 1px solid var(--lavender-blush);

    p {
      color: var(--lavender-blush);
      margin: 0 !important;
    }

    i {
      color: var(--lavender-blush);
    }
  }
}
