@mixin xs {
  @media (max-width: 480px) {
    @content;
  }
}

.main-content {
  height: 100%;
  width: 100vw;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--space-cadet);
  margin-bottom: 20px;
  margin-top: 150px;

  @include xs {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
    color: var(--lavender-blush);
    margin-bottom: 1rem;

    @include xs {
      margin-bottom: 6rem;
    }
    i {
      cursor: pointer;
      font-size: 25px;
      color: var(--lavender-blush);
    }

    i:hover {
      color: var(--carnation-pink);
    }
  }

  .cards-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include xs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--lavender-blush);
      width: 350px;
      margin-top: 50px;
      gap: 50px;

      @include xs {
        border-bottom: 1px solid var(--purple-mountain-majesty);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;
      }

      .category-name {
        color: var(--lavender-blush);
        max-width: 350px;
        text-align: center;

        @include xs {
          height: 10px;
        }
      }

      .category-level-progression {
        color: var(--lavender-blush);
        text-align: center;
      }

      .niveau-card {
        margin: 0;
        padding: 0;
        color: var(--lavender-blush);
      }
    }
  }
}

.card-container:last-child {
  @include xs {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
}
