.userSettings-main {
  margin-top: 110px;
  width: 100vw;
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 18rem;
  padding-right: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  border-bottom: 2px solid var(--space-cadet);
}

.userSettings-header {
  width: 100%;
  border-bottom: 2px solid var(--cyber-grape);
}

.userSettings-main-title {
  color: var(--lavender-blush);
  margin-bottom: 20px;
}

.userSettings-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 85%;
  height: auto;
}

.property-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.property-title {
  color: var(--lavender-blush);
}

.property-container {
  position: relative; /* Add relative positioning to the container */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: var(--space-cadet) !important;
  margin-bottom: 4rem !important;
  border-top: 1px solid var(--purple-mountain-majesty) !important;
  border-right: 1px solid var(--purple-mountain-majesty) !important;
  border-bottom: 1px solid var(--purple-mountain-majesty) !important;
  border-left: 1px solid var(--purple-mountain-majesty) !important;
  border-radius: 0.4rem !important;
  padding: 2rem !important;
  width: 80% !important;
  height: 136px;
}

.property-button-input-label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.property-button {
  background: none;
  border: none;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  font-weight: 600;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  height: 3rem;
  background-color: var(--cyber-grape);
  color: var(--lavender-blush);
  padding: 0 2rem;
  cursor: pointer;

  &:hover {
    background-color: var(--purple-mountain-majesty);
  }

  &.--dangerous {
    background-color: rgb(150, 0, 0);

    &:hover {
      background-color: rgb(200, 0, 0);
    }
  }

  &.--validator {
    cursor: not-allowed;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(151, 112, 162, 0.2);
    color: rgba(255, 255, 255, 0.2);

    &.--goodResponse {
      background-color: #00db84;
      color: var(--oxford-blue);
      box-shadow: none;
      min-width: 150px;

      &:hover {
        background-color: #5cffbe;
      }
    }
  }

  &.--allowed {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--purple-mountain-majesty);
    color: var(--lavender-blush);

    &:hover {
      box-shadow: 3px 4px 40px rgba(255, 255, 255, 0.1),
        -2px 1px 30px rgba(255, 255, 255, 0.1);
    }

    &.--goodResponse {
      background-color: #00db84;
      color: var(--oxford-blue);
      box-shadow: none;
      min-width: 150px;

      &:hover {
        background-color: #5cffbe;
      }
    }
  }
}

.input-username {
  &.--overide {
    border-radius: 0.4rem !important;
    padding: 0.5rem 1rem !important;
    font-family: inherit;
    appearance: none;
    background-clip: padding-box;
    line-height: 1.5;
    transition: border 100ms ease-in, background-color 100ms ease-in;
    border-style: solid;
    border-width: 0px;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px var(--lavender-blush);
    color: #efeff1;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;

    &:hover {
      outline: none;
      border-color: hsla(240, 8%, 88%, 0.4);
      box-shadow: inset 0 0 0 2px hsla(240, 8%, 88%, 0.4);
    }

    &:focus {
      outline-offset: -1px;
      border-color: var(--carnation-pink);
      box-shadow: inset 0 0 0 2px #a970ff;
      outline: none;
    }

    &.--block {
      cursor: not-allowed;
      box-shadow: inset 0 0 0 1px gray;
      background-color: rgba(151, 112, 162, 0.1);
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.property-label-description {
  color: var(--lavender-blush);
  opacity: 0.9;
  font-size: 1.3rem;
  line-height: 1.5;
}

.label-title-property {
  margin-bottom: 4rem;
  margin-right: 4rem;
  color: var(--lavender-blush);
  font-weight: bold;
  font-size: 1.3rem;
}

// MODAL

.backToHomeModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;

  .backtohome-title {
    color: var(--lavender-blush);
    margin-bottom: 30px;
    text-align: center;
  }

  input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: var(--purple-mountain-majesty);
    color: var(--lavender-blush);
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    line-height: 1.5em;
    border: none;
    font-size: 14px;
    padding: 0;
    cursor: pointer;

    &:hover {
      background-color: var(--space-cadet);
    }
  }
}

// CATCH ERROR MSG

.property-catch-error {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.figure-property-settings {
  border-color: red !important;
}
