@import "../../scss/media-queries";

.footer-asteria {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
  gap: 30px;
}

.footer-sections-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  @include md {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  border: none;

  @include md {
    display: none !important;
  }

  &.--mobile {
    display: none;

    @include md {
      display: flex !important;
      flex-direction: column !important;
      text-align: center;
    }
  }
}

.footer-h3 {
  color: var(--lavender-blush);

  &.--mobile {
    font-size: 15px;
  }
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 7px;

  &.--mobile {
    text-align: center;
  }
}

.footer-link {
  font-size: 16px !important;
  color: var(--lavender-blush);
  opacity: 0.8;

  &:hover {
    color: var(--carnation-pink);
  }
}

/* footer.scss */

.footer-asteria {
  background-color: transparent;
  color: #fff;
  padding: 20px;
  padding-top: 60px;
  text-align: center;

  .social-medials {
    display: flex;
    justify-content: space-around;

    .footer-link {
      color: #fff;
      text-decoration: none;
      font-size: 1.2em;
      transition: color 0.3s ease;

      &:hover {
        color: var(--carnation-pink);
      }
    }
  }

  .footer-copyright {
    margin-top: 10px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .contact-form {
      max-width: 100%;
    }
  }
}

.footer-section-links-container {
  padding: 20px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Espacement entre les éléments, ajustez selon vos préférences */
  height: 100%;
  justify-items: center;
  align-items: start;
}
