@import "../../scss/media-queries";

.verify-email-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 2px solid var(--space-cadet);
}

.verify-email-title {
  color: var(--lavender-blush);
}

.verify-email {
  &.--error {
    color: red;
  }
  &.--success {
    color: var(--carnation-pink);
  }
}

i {
  &.--error {
    font-size: 80px !important  ;
    color: red;
  }
  &.--sucess {
    font-size: 80px !important;
    color: var(--carnation-pink);
  }
}

.verification-in-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  width: 60%;
  height: 80%;
  background-color: var(--space-cadet);
  border-radius: 30px;
  box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px,
    #0000002b 0 12px 13px, #00000017 0 -3px 5px;
  i {
    font-size: 80px;
    color: var(--orchid-crayola);
  }

  @include sm {
    width: 85%;
  }
}

.verify-email-info {
  color: var(--lavender-blush);
  font-weight: 500;
  width: 70%;
  line-height: 3rem;
}

.verify-email-resend-button {
  cursor: pointer;
  border: none;
  background-color: var(--orchid-crayola);
  font-weight: bold;
  color: var(--lavender-blush);
  width: 200px;
  height: 40px;
  border-radius: 20px;

  &:hover {
    background-color: var(--purple-mountain-majesty);
  }

  @include sm {
    width: 150px;
  }
}

.verify-redirection-timer {
  color: var(--lavender-blush);
}

.verify-email-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
