@import "../../scss/media-queries";

.tutorial-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 20px;
  color: var(--lavender-blush);
}

.tutorial-content-container {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.tutorial-btn {
  position: absolute;
  bottom: 10%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: var(--cyber-grape);
  color: var(--lavender-blush);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  line-height: 1.5em;
  border: none;
  font-size: 14px;
  padding: 0;
  cursor: pointer;

  @include xs {
    bottom: 5%;
  }

  &:hover {
    background-color: var(--space-cadet);
  }
}

.building-content-alert {
  color: var(--lavender-blush);
  text-align: center;
}

.tutorial-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spline-tutorial-container {
  width: 100%;
  height: 100%;
}

.tutorial-navigation {
  position: fixed;
  font-size: 40px !important;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}

.arrow-step-tutorial {
  &:hover {
    cursor: pointer;
    color: var(--carnation-pink);
  }

  &.--disabled {
    opacity: 0;
    cursor: default;
  }
}

.asteria-tutorial-logo {
  position: absolute;
  top: 20%;
  width: 300px;

  &.asteria {
    @include xs {
      top: 25% !important;
    }
  }

  &.question {
    @include xs {
      width: 250px;
      top: 20% !important;
    }
  }

  &.collection {
    @include xs {
      width: 250px;
      top: 5% !important;
    }
  }

  &.snappi {
    right: 25%;

    @include xll {
      right: 30%;
    }

    @include xl {
      right: 15%;
    }

    @include md {
      right: 10%;
    }

    @include sm {
      width: 170px;
      object-fit: cover;
      top: 15% !important;
      right: 0%;
    }
  }

  &.soucoupe {
    @include xs {
      top: 25% !important;
    }
  }
}

.tutorial-paragraph {
  position: absolute;
  bottom: 35%;
  padding: 20px;
  text-align: center;

  &.snappi {
    bottom: 30%;
  }
}
