@import "../../../scss//media-queries";

.quizzresult-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
  padding: 20px 0px 20px 0px;

  .total-result-wrapper {
    text-align: center;
    h1 {
      color: var(--lavender-blush);
      font-weight: 700;
      font-size: 30px;
    }
    h2 {
      color: var(--lavender-blush);
      font-weight: 700;
      font-size: 25px;
    }
  }

  .btn-containerr {
    display: flex;
    gap: 40px;

    .button-to-home {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: var(--oxford-blue);
      color: var(--lavender-blush);
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      width: 230px;
      height: 80px;
      line-height: 1.5em;
      border: none;
      font-size: 14px;
      padding: 0;
      cursor: pointer;

      &:hover {
        background-color: var(--orchid-crayola);
      }

      a {
        color: var(--lavender-blush);
      }
    }
  }
}

.total-correct-ans-quizz {
  color: var(--lavender-blush);
}

.swipe {
  position: relative;
  transition: left 0.7s ease-in-out; /* Animation pour le déplacement latéral */
  overflow: hidden; /* Cache le contenu qui dépasse */

  &.--left {
    left: -150svh; /* Commence à l'extérieur de l'écran à gauche */
  }

  &.--right {
    left: 150svw; /* Commence à l'extérieur de l'écran à gauche */
  }
  &.--bottom {
    top: -150svw; /* Commence à l'extérieur de l'écran à gauche */
  }
}
@keyframes carnationPinkFade {
  0% {
    scale: 0.5;
    filter: drop-shadow(0px 0px 20px rgba(255, 173, 219, 0));
    opacity: 1;
  }

  100% {
    scale: 1.1;
    filter: drop-shadow(0px 0px 25px rgba(255, 173, 219, 0.5));
    opacity: 1;
  }
}
.swipe.active {
  left: 0; /* Placez la div "test" au milieu de l'écran */
  right: 0;
  top: 0;

  &.--1sec {
    transition-delay: 0.6s;
  }
  &.--1-5sec {
    transition-delay: 0.8s;
  }

  &.--2sec {
    scale: 0.5;
    transition-delay: 1.4s;
    animation: carnationPinkFade 3s forwards 2.5s; // Ajout de "forwards" pour maintenir les styles finaux après l'animation
  }

  &.--3sec {
    transition-delay: 1s;
  }
}

.card-ending-view {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 274px;
  height: 472px;
  border-radius: 20px;
  border: 2px solid var(--lavender-blush);

  @include xs {
    width: 60svw;
    height: 50svh;
  }

  &:hover {
    border-color: var(--carnation-pink);
  }
}

.collection-card-img-ending {
  position: relative;
  z-index: -1;
  width: 272px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

  @include xs {
    width: 60svw;
    height: 50svh;
  }
}

.ending-view-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 20px;

  @include xs {
    flex-direction: column;
    gap: 10px;
  }
}

.good-job-cyril {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.correct-ans-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.correct-ans-number {
  color: white !important;
  font-weight: bold;
  font-size: 40px;
}

.ending-view-nextquizz-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: var(--cyber-grape);
  color: var(--lavender-blush);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  border: none;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    scale: 1.1;
  }
}

.ending-view-backhome-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: var(--oxford-blue);
  color: var(--lavender-blush);
  transition: background-color 0.3s ease-out;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  border: 1px solid var(--cyber-grape);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    scale: 1.1;
  }
}

.collection-title {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 5svh;
  color: var(--lavender-blush);
  font-size: 15px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.9;

  @include xs {
    font-size: 13px;
    letter-spacing: 2px;
  }
}
