@import "../../../scss/media-queries";

.simple-article {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(68, 156, 200, 0) 0%,
    rgba(255, 173, 220, 1) 30%,
    rgba(255, 173, 220, 1) 70%,
    #74808600 100%
  );
  padding-bottom: 15px;

  .simple-article-link {
    display: flex;
    gap: 10px;
    .simple-article-img {
      min-width: 300px !important;
      min-height: 300px !important;
      max-width: 300px !important;
      max-height: 300px !important;
      object-fit: cover;

      @include xs {
        min-width: 200px !important;
        min-height: 200px !important;
        max-width: 200px !important;
        max-height: 200px !important;
      }
    }
    .article-content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      text-align: start;

      .simple-article-date {
        color: var(--lavender-blush);
        opacity: 0.8;
        font-weight: bold;
      }

      .simple-article-title {
        color: var(--lavender-blush);
      }
    }
  }

  .simple-article-link:hover {
    .simple-article-title {
      color: var(--carnation-pink);
    }
  }
}
