@import "../../scss/media-queries";

.collection-card {
  @include xl {
    width: 100vw;
    overflow-x: auto;
  }
}

.category-title-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.title-category-collection {
  color: var(--lavender-blush);
  font-size: 28px;
  font-weight: 700;
  font-family: var(--font-family-fjalla);
  padding-bottom: 10px;
  margin-left: 200px;
  border-bottom: 2px solid var(--space-cadet);
  width: 80%;

  @include xl {
    position: relative;
    left: 5%;
    top: 12%;
    margin: 0;
    width: 80%;
    text-align: center;
  }
}

.cards-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  padding: 20px;
  padding-left: 10%;

  @include xl {
    justify-content: flex-start;
    width: auto;
    gap: 50px;
    padding-left: 50px;
  }

  @include md {
    justify-content: flex-start;
    width: auto;
    gap: 40px;
    padding-left: 40px;
  }

  @include sm {
    justify-content: flex-start;
    width: auto;
    gap: 30px;
    padding-left: 35px;
  }

  @include xs {
    justify-content: flex-start;
    width: auto;
    gap: 30px;
    padding-left: 20px;
  }
}

.actualCardView-layout {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
}

.actualCardView-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 800px;
  border-radius: 20px;
  border: 1px solid var(--lavender-blush);
  box-shadow: 0px 0px 10px var(--lavender-blush);

  @include sm {
    width: 400px;
    height: 700px;
  }

  @include xs {
    width: 370px;
    height: 600px;
  }

  &:hover {
    border: 1px solid var(--orchid-crayola);
    box-shadow: 0px 0px 10px var(--orchid-crayola);
  }
}

.actualCardView-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.actualCardView-back-image {
  width: 100%;
  height: 40%;
  object-fit: cover;
  position: relative;
  z-index: -1;
  border-top: 1px solid var(--lavender-blush);
  border-bottom: 1px solid var(--lavender-blush);
}

.actualcardview-title {
  position: absolute;
  margin-top: 5vh;
  width: 500px;
  text-align: center;
  color: var(--lavender-blush);
  font-size: 30px;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.8;
}

.actualcardview-title-back {
  position: relative;
  z-index: -4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--oxford-blue);
  width: 100%;
  text-align: center;
  color: var(--lavender-blush);
  font-size: 30px;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

.actualcardview-collectionName {
  position: absolute;
  margin-top: 5vh;
  width: 600px;
  text-align: center;
  color: var(--lavender-blush);
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
  bottom: 100px;
}
.actualcardview-collection-label {
  position: absolute;
  margin-top: 5vh;
  width: 600px;
  text-align: center;
  color: var(--lavender-blush);
  font-size: 18px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.7;
  bottom: 150px;
}

.actualCardView-cardNumber {
  position: absolute;
  color: white;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  background-color: var(--oxford-blue);
  bottom: 200px;
}

.actualCardView-facticon-box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  height: 18%;
  background-color: var(--oxford-blue);

  @include xs {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.actualCardView-funfact-wrapper {
  width: 100%;
  display: flex;
  color: var(--lavender-blush);
  justify-content: space-around;
}

.actualCardView-funfact-box {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 15px;

  @include sm {
    gap: 10px;
  }

  @include xs {
    gap: 5px;
  }
}

.actualCardView-funfact-icon {
  font-size: 25px;
  font-weight: bold;
}

.actualCardView-funfact-name {
  font-weight: bold;
  font-size: 13px;

  @include sm {
    font-size: 12px;
  }

  @include xs {
    font-size: 11px;
  }
}

.actualCardView-funfact {
  font-weight: 300;
  opacity: 0.8;
  font-size: 13px;

  @include xs {
    font-size: 11px;
  }
}

.actualCardView-description {
  color: var(--lavender-blush);
  width: 100%;
  height: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--oxford-blue);
  padding: 20px;
  border-top: 1px solid rgba(255, 246, 252, 0.548);

  @include sm {
    font-size: 14px;
  }

  @include xs {
    font-size: 12px;
  }
}

.actualCardView-description-paragraph {
  height: 100%;
  opacity: 0.8;
}
