.notfound-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border: none;

  .notfound-wrapper {
    display: flex;
    .notfound-img {
      margin-right: -13px;
      width: 193px;
      height: 150px;
      object-fit: contain;
    }
    p {
      color: var(--lavender-blush);
      font-weight: 300;
      font-size: 170px;
    }
  }

  h2 {
    margin-top: 20px;
    color: var(--lavender-blush);
    margin-bottom: 30px;
  }

  a.sign-in {
    color: var(--oxford-blue);
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    background-color: var(--orchid-crayola);
    cursor: pointer;
    padding: 1.5rem 1.3rem;
  }

  a.sign-in:hover {
    box-shadow: rgb(255, 255, 255, 0.5) 0px 0px 10px;
  }
}
