@import "../../scss/media-queries";

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--oxford-blue);
  width: 100vw;
  height: 11vh;
  border-bottom: 2px solid var(--space-cadet);
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .header-logo {
      width: 110px;
      height: 110px;
      object-fit: contain;
    }
  }

  .nav-menu {
    display: flex;
    gap: 2rem;

    a {
      color: var(--lavender-blush);
      text-decoration: none;
      min-width: 80px;
      max-width: 140px;
      text-align: center;

      &:hover {
        color: var(--carnation-pink);
        text-shadow: 3px 3px 40px #ff99cc, -2px 1px 30px #ff99cc;
      }
    }
  }

  .menu-burger {
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    display: none;
    cursor: pointer;
  }

  .user-icon {
    color: white;
    font-size: 30px;
    display: none;
    font-weight: 500 !important;
  }

  .logout-wrapper,
  .authentification-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;

    input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: var(--purple-mountain-majesty);
      color: var(--lavender-blush);
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      width: 200px;
      height: 50px;
      line-height: 1.5em;
      border: none;
      font-size: 14px;
      padding: 0;
      cursor: pointer;

      &:hover {
        box-shadow: 3px 4px 40px rgba(255, 255, 255, 0.1),
          -2px 1px 30px rgba(255, 255, 255, 0.1);
      }
    }

    // .login {
    //   color: var(--oxford-blue);
    //   background-color: var(--orchid-crayola);
    //   width: 120px;
    //   height: 55px;
    //   border-radius: 6px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   text-align: center;
    //   text-decoration: none;

    //   &:hover {
    //     background-color: var(--space-cadet);
    //     color: var(--lavender-blush);
    //   }
    // }

    // .signup {
    //   color: var(--lavender-blush);
    //   width: 83px;
    //   height: 46px;
    //   border-radius: 6px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   text-align: center;
    //   text-decoration: none;

    //   &:hover {
    //     color: var(--carnation-pink);
    //     text-shadow: 3px 3px 40px #ff99cc, -2px 1px 30px #ff99cc;
    //   }
    // }
  }

  @include md {
    .header-asteria {
      padding: 0 !important;
    }

    .header-logo {
      width: 60px !important;
    }

    .nav-menu {
      display: none !important;
    }

    .menu-burger,
    .user-icon {
      display: block !important;
    }

    .logout-wrapper,
    .authentification-wrapper {
      display: none;
    }
  }
}

.modal-container {
  position: fixed;
  left: 0;
  top: 64px;
  width: 100%;
  height: calc(100vh - 64px);
  background: var(--oxford-blue);
  padding: 16px 24px;
  transform: translateX(0);
  transition: transform 0.8s ease-out;
  z-index: 3;
  padding-top: 10rem;

  .nav-modal-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    p {
      border-bottom: 2px solid var(--carnation-pink);
      max-height: 90px;
      font-size: 25px;
    }

    .ul-modal-container {
      width: 100%;
      height: 100%;
      .li-modal-container {
        list-style: none;
        padding: 16px 0;

        .modal-link {
          font-size: 1.8rem;
          line-height: 1.5;
          color: white;
          text-decoration: none;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}

.menu-icon {
  margin: 20px auto;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
}

.figure-user-profile-picture {
  position: relative;
  background-color: inherit;
  width: 6rem;
  height: 6rem;
  cursor: pointer;

  &.--modal {
    width: 9rem;
    height: 9rem;
  }
}

.user-profile-picture {
  display: block;
  border-radius: 9000px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(255, 246, 252, 0.7);

  &:hover {
    color: var(--carnation-pink);
    border-color: var(--carnation-pink);
  }
}

.user-controller-modal {
  overflow: hidden;
  position: absolute;
  z-index: 991;
  width: 370px;
  height: 280px;
  top: 90px;
  right: 13%;
  max-height: calc(-61px + 100vh);
  max-width: calc(-8px + 100vw);
  transition: opacity 0.1s ease 0.02s;
  opacity: 1;
  background: var(--space-cadet);
  padding: 4px 8px;
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.close-user-modal-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 27px;
  color: white;
  border: 1px solid #c4c7c5;
  background: #181836;
  position: absolute;
  top: 0px;
  right: 6px;

  &:hover {
    border-color: var(--carnation-pink);
    color: var(--carnation-pink);
  }
}
.user-controller-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #181836;
  height: 60%;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px;
  padding: 10px 5px 0;
}

.user-information-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}
.to-user-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  border-radius: 8px;
  border: 1px solid #8e918f;
  float: left;
  margin-bottom: 9px;
  margin-left: 78px;
  margin-top: 8px;
  max-width: 254px;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  display: block;
  overflow: hidden;
  width: 100%;
  color: #e3e3e3;

  &:hover {
    color: var(--carnation-pink);
    border-color: var(--carnation-pink);
  }
}

.username-usermail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.username-modal {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #e3e3e3;
}

.usermail-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  max-width: 250px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #c4c7c5;
}

.btn-change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: -4px;
  height: 35px;
  position: absolute;
  right: -4px;
  width: 35px;
  background: #181836;
}

.change-picture-btn {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  background: none;
  border: 1px solid #c4c7c5;
  box-sizing: border-box;
  height: 24px;
  padding: 0;
  position: relative;
  width: 24px;
  margin: 3px;
  border-color: #444746;
  color: var(--lavender-blush);

  &:hover {
    border-color: var(--carnation-pink) !important;
  }
}
