@import "../../scss/media-queries";

.header-asteria {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--oxford-blue);
  width: 100vw;
  height: 90px;
  border-bottom: 2px solid var(--space-cadet);
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  padding-left: 180px;

  &.--isAdmin {
    background: rgb(24, 24, 38);
  }
  &.--userconnected {
    padding-left: 0px;
  }

  @include md {
    padding-left: 0 !important;
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    right: 10%;

    &.--userconnected {
      position: static;
      right: initial;
    }

    .header-logo {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  .nav-menu {
    display: flex;
    gap: 50px;

    a {
      color: var(--lavender-blush);
      text-decoration: none;
      text-align: start;

      &:hover {
        color: var(--carnation-pink);
      }
    }
  }

  .menu-burger {
    background: none;
    border: none;
    color: white;
    font-size: 45px;
    display: none;
    cursor: pointer;
  }

  .burger-svg {
    display: none;
    cursor: pointer;

    &.--desktop {
      display: block;
    }
  }

  .burger-nav-title {
    color: var(--lavender-blush);
  }

  .user-icon {
    color: white;
    font-size: 30px;
    display: none;
    font-weight: 500 !important;
  }

  .logout-wrapper,
  .authentification-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;

    @include md {
      display: none;
    }

    input[type="submit"] {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: var(--purple-mountain-majesty);
      color: var(--lavender-blush);
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      width: 200px;
      height: 50px;
      line-height: 1.5em;
      border: none;
      font-size: 14px;
      padding: 0;
      cursor: pointer;

      &:hover {
        box-shadow: 3px 4px 40px rgba(255, 255, 255, 0.1),
          -2px 1px 30px rgba(255, 255, 255, 0.1);
      }
    }

    .login {
      border-radius: 3px;
      background-color: var(--purple-mountain-majesty);
      color: var(--lavender-blush);
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      font-size: 14px;
      cursor: pointer;
      width: 200px;
      height: 50px;

      &:hover {
        box-shadow: 3px 4px 40px rgba(255, 255, 255, 0.1),
          -2px 1px 30px rgba(255, 255, 255, 0.1);
      }
    }

    .signup {
      color: var(--lavender-blush);
      width: 83px;
      height: 46px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: var(--carnation-pink);
      }
    }
  }

  @include md {
    .header-asteria {
      padding: 0 !important;
    }

    .header-logo {
      display: none !important;
    }

    .nav-menu {
      display: none !important;
    }

    .burger-svg {
      display: block !important;

      &.--hidden {
        visibility: hidden !important;
      }
    }

    .menu-burger {
      display: block !important;
    }
  }
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--oxford-blue);
  transform: translateX(0);
  transition: transform 0.8s ease-out;
  z-index: 3;
  padding-top: 10rem;

  &.--user {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
  }

  &.--layoutuser {
    margin-top: 30px;
    height: 40vh;
    padding-left: 10%;
    padding-right: 10%;

    @include xs {
      height: 60svh;
      padding-left: 9%;
      padding-right: 9%;
    }
  }

  .nav-modal-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .burger-nav-title {
      color: var(--lavender-blush);
      padding-bottom: 10px;
      border-bottom: 2px solid var(--carnation-pink);
      max-height: 90px;
      font-size: 25px;
    }

    .ul-modal-container {
      width: 100%;
      height: 100%;
      .li-modal-container {
        list-style: none;
        padding: 16px 0;
        border-top: 2px solid var(--space-cadet);

        &:first-child {
          border-top: none;
        }

        .modal-link {
          font-size: 1.8rem;
          line-height: 1.5;
          color: white;
          text-decoration: none;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: left;
          padding-left: 12%;
        }
      }
    }
  }
}

.menu-icon {
  margin: 20px auto;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
}

.figure-user-profile-picture {
  position: relative;
  background-color: inherit;
  width: 5rem;
  height: 5rem;
  cursor: pointer;

  &.--modal {
    width: 9rem;
    height: 9rem;
    cursor: default;
  }

  &.--delete-user {
    width: 4rem;
    height: 4rem;
    cursor: default;
  }

  &.--change-picture {
    width: 25rem;
    height: 25rem;
    cursor: initial;
  }
}

.user-profile-picture {
  display: flex;
  border-radius: 9000px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid rgba(255, 246, 252, 0.7);
  color: var(--lavender-blush);
  text-align: center;
  &:hover {
    color: var(--carnation-pink);
    border-color: var(--carnation-pink);
  }

  &.--modal {
    border-color: rgba(255, 246, 252, 0.7);

    &.--property-settings {
      &:hover {
        border-color: var(--carnation-pink);
      }
    }
  }
}

.user-controller-modal {
  overflow: hidden;
  position: absolute;
  z-index: 991;
  width: 370px;
  height: 280px;
  top: 90px;
  right: 13%;
  max-height: calc(-61px + 100svh);
  max-width: calc(-8px + 100svw);
  transition: opacity 0.1s ease 0.02s;
  opacity: 1;
  background: var(--space-cadet);
  padding: 4px 8px;
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  @include xs {
    width: 80vw;
    right: 9%;
  }
}

.close-user-modal-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  color: white;
  background: #181836;
  position: absolute;
  top: 0px;
  right: 5px;
  border-left: none;
  border: none;
  border: 1px solid white;

  &.--delete-user-modal {
    position: relative !important;
    top: 0px;
    right: -40px;
    align-self: flex-end;
  }

  &:hover {
    border-color: var(--carnation-pink);
    color: var(--carnation-pink);
  }

  &.--change-picture {
    position: initial;
    margin-right: auto;
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 999px;
  }
}
.user-controller-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background: #181836;
  height: 65%;
  border-top-right-radius: 27px;
  border-top-left-radius: 27px;
  padding: 10px 5px 0;
}

.user-information-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}
.to-user-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  border-radius: 8px;
  border: 1px solid #8e918f;
  float: left;
  margin-bottom: 9px;
  margin-left: 78px;
  margin-top: 8px;
  max-width: 254px;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  display: block;
  overflow: hidden;
  width: 100%;
  color: #e3e3e3;

  &.--admin {
    padding: 0;
  }

  @include xs {
    margin-left: 0px;
  }

  &:hover {
    color: var(--carnation-pink);
    border-color: var(--carnation-pink);
  }
}

.username-usermail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.username-modal {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #e3e3e3;
}

.usermail-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  max-width: 250px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #c4c7c5;
}

.btn-change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: -4px;
  height: 35px;
  position: absolute;
  right: -4px;
  width: 35px;
  background: #181836;
}

.change-picture-btn {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  background: none;
  border: 1px solid #c4c7c5;
  box-sizing: border-box;
  height: 24px;
  padding: 0;
  position: relative;
  width: 24px;
  margin: 3px;
  border-color: #444746;
  color: var(--lavender-blush);

  &:hover {
    border-color: var(--carnation-pink) !important;
  }
}

.modal-changepicture-container {
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100svh;
  top: 0;
  right: 0;
  padding: 0 55px;
  backdrop-filter: blur(10px);

  @include xs {
    padding: 0 25px;
  }
}

.selector-profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 92svh;
  border-radius: 35px;
  background: #181836;
  opacity: 1;
  padding-bottom: 40px;

  @include xs {
    height: 700px;
  }
}

.label-dropzone-builder {
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 15px;
  border: 2px dashed rgb(153, 153, 153);
  cursor: pointer;
  text-align: center;
  color: white;
  outline: dashed 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20%;
  &:hover {
    color: var(--carnation-pink);
    border-color: var(--carnation-pink);
  }
}

.profile-picture-url-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
}

.label-url-picture {
  color: var(--lavender-blush);
}

input[type="text"] {
  background-color: var(--lavender-blush);
  border-radius: 0 3px 3px 0;
  color: black;
  padding: 0 16px;
  width: 80%;
  height: 50px;
  line-height: 1.5em;
  border: none;
  font-size: 14px;
  padding: 20px;
  outline: none;
}

.input-url-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;

  .url-btn-check {
    width: 10%;
    height: 100%;
    background-color: var(--purple-mountain-majesty);
    border: none;
    cursor: pointer;
    color: var(--lavender-blush);
    font-size: 17px;
    border-radius: 3px 0 0 3px;

    &:hover {
      box-shadow: 3px 4px 40px rgba(255, 255, 255, 0.1),
        -2px 1px 30px rgba(255, 255, 255, 0.1);
    }
  }
}

.closebtn-img-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.modal-user-notconnected-infos {
  display: inline-block;
  color: var(--lavender-blush);
}

.modal-user-notconnected-title {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 8.5rem;
  font-weight: 700;
}
.modal-user-notconnected-info {
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.modal-user-notconnected-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.modal-user-notconnected-inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: var(--cyber-grape);
  color: var(--lavender-blush);
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  line-height: 1.5em;
  border: none;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &.--usermodal {
    padding: 5px 10px;
  }

  &.--desktop {
    width: 118px;
    height: 40px;
  }

  &:hover {
    scale: 1.1;
  }
}

.modal-user-notconnected-connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: var(--oxford-blue);
  color: var(--lavender-blush);
  transition: background-color 0.3s ease-out;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  line-height: 1.5em;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  border: 1px solid var(--cyber-grape);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  &.--result {
    padding: 0px 20px;
    text-align: center;
  }

  &.--desktop {
    width: 118px;
    height: 40px;
  }

  &:hover {
    scale: 1.1;
  }
}

.user-header-box {
  display: flex;
  gap: 20px;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.login-with-google-btn {
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 20px 16px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    scale: 1.05;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}
