:root {
  /* Font Family */

  --font-family-fjalla: "Montserrat", sans-serif;
  --font-family-inter: "Montserrat", sans-serif;

  /* Colors */

  --oxford-blue: #0a1e3eff;
  --space-cadet: #383860ff;
  --cyber-grape: #665382ff;
  --purple-mountain-majesty: #9770a2ff;
  --orchid-crayola: #ca8ec1ff;
  --carnation-pink: #ffaddcff;
  --lavender-blush: #fff6fcff;
}
